# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Nutmeg.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Workspace\Unity\Nutmeg\Nutmeg\.idea\.idea.Nutmeg\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
